<div class="container cus-h d-flex justify-content-center align-items-center">

  <div class="card mb-3 w-75">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="assets/imgs/avatar.png" class="img-fluid rounded-start cus-img" alt="...">
      </div>
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <div class="card-body">

          <h5 class="card-title">{{student.name}}</h5>
          <p class="card-text">{{student.address}}</p>
          <p class="card-text">Age: {{student.age}}</p>
          <p class="card-text">Class: {{student.class}}</p>
          <p class="card-text">GPA: {{student.gpa}}</p>

        </div>
      </div>
    </div>
  </div>

</div>
